.container {

    display: flex;
    flex-direction: column;
    gap: 3rem; 

    &__2{
        margin-top: 4rem;
    }



    &__content{
        p{
            line-height: 1.65;
            font-weight: 300;
            font-size: 1.125rem;
            margin: 1.8rem 0;
        }

        p a {
            color: $mainOrange;
            font-weight: 600;
        }
    }

    

    &__img{
        width: 4rem; height: 4rem;
        margin-left: auto;
        margin-right: auto;
    }


    @mixin atMedium{
        flex-direction: row;


        &__6{
            float: left;
            width: 50%;

            p{
                font-weight: 200;
            }
        }


        &__4{
            float: left;
            width: 33.33%;
            margin-top: 1rem;
            

            @mixin atMedium{
                margin-top: 2rem;
            }

            @mixin atLarge{
                margin-top: 3rem;
            }
        }
    
        &__8{
            float: left;
            width: 66.66%
            
        }
    }
}