.page-section{
    padding: 1.2rem 0;

    &--blue{
        background-color: $mainBlue;
        color: #fff;
    }

    &--trans{
        background: url('/assets/images/testimonials-bg.jpg') top center;
        background-size: cover;
    }


    &--title{
        font-size: 2.75rem;
        font-weight: 200;
        text-align: center;

        &-icon{
            width: 2.75rem;
            @mixin atMedium{
                width: 3.75rem;
            }
        }

        &-blue{
            color: $mainBlue;
        }

        @mixin atMedium {
            font-size: 3.75rem;
        }


    }

    @mixin atMedium{
        padding: 4.5rem 0;
    }
}