.wrapper{

    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    &--medium{
        padding-left: 0rem;
        max-width: 800px;
        padding-right: 0rem;

        @mixin atMedium {
            padding-left: 4rem;
            padding-right: 4rem;
        }
    }

}