.card{
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 3rem;
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 370px;
    text-align: center;

    @mixin atSmall{
        height: 250px;
    }

    @mixin atMedium {
        height: 570px;
    }

    @mixin atLarge {
        height: 370px;
    }

    &--header{
        border: solid 2px white;
        border-radius: 15rem;
        margin-top: -10rem;
    }
    
    &--text{
        line-height: 1.65rem;
        font-weight: 300;
    }

    &--times{
        text-align: center;
        font-size: .8rem;
        margin-top: -1rem;
        color: $mainOrange;
    }

    &--name{
        color: $mainBlue;
        text-align:center;
        font-size: 1.5rem;
    }

    &--content{
        /* margin-top: 15rem; */
    }
}