.card{
    background-color: white;
    margin-top: 3rem;
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 420px;
    position: relative;

    &--header{
        border: solid 2px white;
        position: absolute;
        top:-5rem; left: 4rem;
    }

    &--times{
        text-align: center;
        font-size: .8rem;
        margin-top: -1rem;
        color: $mainOrange;
    }

    &--name{
        color: $mainBlue;
        text-align:center;
        font-size: 1.5rem;
    }

    &--content{
        /* margin-top: 15rem; */
    }
}